{% extends 'base-admin.html.twig' %}

{% block title %}Edit TelephoneEtInternetAuJapon{% endblock %}

{% block body %}
    <h1>Edit TelephoneEtInternetAuJapon</h1>

    {{ include('admin_telephone_et_internet_au_japon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_telephone_et_internet_au_japon_index') }}">back to list</a>

    {{ include('admin_telephone_et_internet_au_japon/_delete_form.html.twig') }}
{% endblock %}
