body{
    // image d'en-tete de chzque page
    .img1 img{
        width: 100%;
        height: 500px;
    }

    //  image des footer
    .bg-image img{
        width: 100px;
        height: 150px;
        max-width: 200px;
        max-height: 250px;
    }

}
