.map__image{
    width: 70%;
    float: left;
}

.map__image path{
    fill: #a4ced2;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover{
    fill: #3538d2;
}

.info-bulle {
    position: absolute;
    top: 60%;
    left: 30%;
    display: none;
    z-index: 10000;
    border: 1px solid;
    padding: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
}

.map__list{
    float:right;
    width: 30%;
    color:black;
}

.map__list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;

}
.map__list a.is-active {
    color: #3538d2;
    font-weight: bold;
    text-decoration: underline;
}

