body{
    .simplebar-content{
        background-color: #eaeae1;
    }

    .sidebar-item{
        background-color: #c9c9b9;
    }

    ul .sidebar-item li a{
        background-color: #c9c9b9;
    }


}