/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */

body{
	font-family: 'Montserrat' sans-serif;
	background-color: white;
	.logo{
		max-height: 200px;
        display: flex;
        margin: auto;
	}
	.navbar{
		background: #eaeae1;
	}

	.nav-item{
		color: #364449;
	}
	.navbar-nav{
		margin: auto;
	}
	.navbar-dark .navbar-nav .nav-link {
		font-weight: bold;
		color: #383838;
	}
	.log{
		padding: 80px 80px 80px 50px;
    	height: 620px;
    	width: 50%;
    	max-width: 700px;
		margin: auto;
		justify-content: center;
		border: 2px black;
	}

	.conect{
		text-align: center;
	}

	.nav-log{
		color: black;
		text-decoration: none;
		font-weight: bold;
	}

	.icon1{
		display: inline-block;
		border-radius: 50%;
		box-shadow: 0px 0px 2px #888;
		padding: 0.5em 0.6em;
		background-color: #b41c0f;
		margin-right: 7px;
		font-size: 15px;
	}

	.icon2{
		display: inline-block;
		border-radius: 100%;
		box-shadow: 0px 0px 2px #888;
		padding: 0.5em 0.6em;
		background-color: #364449;
		margin-right: 7px;
		font-size: 15px;
	}
	
	.icon3{
		display: inline-block;
		border-radius: 50%;
		box-shadow: 0px 0px 2px #888;
		align-items: center;
		background-color: #3c5997;
		margin-right: 7px;
		width: 35px;
		height: 35px;
		font-size: 20px;
	}
	
	.icon4{
		display: inline-block;
		border-radius: 150%;
		box-shadow: 0px 0px 2px #888;
		padding: 0.5em 0.6em;
		background-color: #1da1f1;
		margin-right: 7px;
		font-size: 15px;
	}
	
	.icon5{
		display: inline-block;
		border-radius: 150%;
		box-shadow: 0px 0px 2px #888;
		padding: 0.5em 0.6em;
		background-color: #e3405f;
		margin-right: 7px;
		font-size: 15px;
	}
	
	.icon6{
		display: inline-block;
		border-radius: 150%;
		box-shadow: 0px 0px 2px #888;
		padding: 0.5em 0.6em;
		background-color: #ff0000;
		margin-right: 7px;
		font-size: 15px;
	}

}
