body{

    //style et position des card de l'accueil
    .voyage{
        margin: auto;
        background-color: #f5f5ef;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
        border-spacing: 5px;
        transition: 0.5s ease;
        cursor: pointer;
    }

    .voyage h3{
        font-family: roboto;
        font-size: 20px;
        color: #364449;
    }


    .voyage:hover{
        transform: scale(1.2);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }

    .carte{
        margin: auto;
        background-color: #f5f5ef;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
        border-spacing: 5px;
        transition: 0.5s ease;
        cursor: pointer;
    }

    .carte h3{
        font-family: roboto;
        font-size: 20px;
        color: #364449;
    }

    .carte:hover{
        transform: scale(1.2);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    }

    //position et dimension des images de fond de l'accueil
    #para1{
        background-image: url("../images/photoLocal/carousel/image1.jpg");
        width: 100%;
        height: 45vh;
        display: block;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #para2{
        background-image: url("../images/photoLocal/carousel/image2.jpg");
        width: 100%;
        height: 45vh;
        display: block;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #para3{
        background-image: url("../images/photoLocal/carousel/image3.jpg");
        width: 100%;
        height: 45vh;
        display: block;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    #para4{
        background-image: url("../images/photoLocal/carousel/image4.jpg");
        width: 100%;
        height: 50vh;
        background-position: center;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}



