@import "_navbar.scss";
@import "_pageAccueil.scss";
@import "_carteProfile.scss";
@import "_map.scss";
@import "_general.scss";
@import "_image.scss";


body{
    a {
        color: #b41c0f;
        text-decoration: none;
    }
    a:hover {
        color: #383838;
    }

}