<form method="post" action="{{ path('admin_avions_et_aeroports_delete', {'id': avions_et_aeroport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avions_et_aeroport.id) }}">
    <button class="btn">Delete</button>
</form>
