{% extends 'base-admin.html.twig' %}

{% block title %}Edit AvionsEtAeroports{% endblock %}

{% block body %}
    <h1>Edit AvionsEtAeroports</h1>

    {{ include('admin_avions_et_aeroports/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_avions_et_aeroports_index') }}">back to list</a>

    {{ include('admin_avions_et_aeroports/_delete_form.html.twig') }}
{% endblock %}
