{% extends 'base-admin.html.twig' %}


{% block title %}Edit Hebergements{% endblock %}

{% block body %}
    <h1>Edit Hebergements</h1>

    {{ include('admin_hebergements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_hebergements_index') }}">back to list</a>

    {{ include('admin_hebergements/_delete_form.html.twig') }}
{% endblock %}
