{% extends 'base-admin.html.twig' %}


{% block title %}New Hebergements{% endblock %}

{% block body %}
    <h1>Create new Hebergements</h1>

    {{ include('admin_hebergements/_form.html.twig') }}

    <a href="{{ path('admin_hebergements_index') }}">back to list</a>
{% endblock %}
