{% extends 'base-admin.html.twig' %}

{% block title %}Edit GuideDeVoyage{% endblock %}

{% block body %}
    <h1>Edit GuideDeVoyage</h1>

    {{ include('admin_guide_de_voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_guide_de_voyage_index') }}">back to list</a>

    {{ include('admin_guide_de_voyage/_delete_form.html.twig') }}
{% endblock %}
