body{  
    .logo{
        max-height: 200px;
        display: flex;
        margin: auto;
    }

    .navbar-brand {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: uppercase
    }
    
    .navbar .nav {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.6rem;
      font-weight: bolder;
    }
    
    .navbar-inverse {
      background-color: rgb(216, 0, 0)
    }
    
    .navbar-inverse .navbar-nav>.active>a:hover,
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
      background-color: #ffffff
    }
    
    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a:hover,
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a:hover,
    .navbar-inverse .navbar-nav>.open>a:focus {
      background-color: #ffffff
    }
    
    .dropdown-menu {
      background-color: rgb(216, 0, 0)
    }
    
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
      background-color: #ffffff
    }
    
    .navbar-inverse {
      background-image: none;
    }
    
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
      background-image: none;
    }
    
    .navbar-inverse {
      border-color: rgb(216, 0, 0)
    }
    
    .navbar-inverse .navbar-nav>li>a {
      color: black
    }
    
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus {
      color: rgb(255, 0, 0)
    }
    
    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.open>a,
    .navbar-inverse .navbar-nav>.open>a:hover,
    .navbar-inverse .navbar-nav>.open>a:focus {
      color: #000000
    }
    
    .dropdown-menu>li>a {
      color: #ffffff
    }
    
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
      color: rgb(255, 0, 0)
    }
}