{% extends 'base-admin.html.twig' %}

{% block title %}modifier categorie accueil{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_category_home_index') }}">Retour</a>

    <h1 class="mt-3">modifier la categorie pour l'accueil</h1>

    {{ include('admin_categorie_home/_form.html.twig') }}


    {{ include('admin_categorie_home/_delete_form.html.twig') }}
{% endblock %}
