{% extends 'base-admin.html.twig' %}

{% block title %}Edit ContenusAccueil{% endblock %}

{% block body %}
        <a class="btn-sm btn-secondary" href="{{ path('admin_contenus_accueil_index') }}">Retour</a>

    <h1 class="mt-3">Modifier le contenus de l'accueil</h1>

    {{ include('admin_contenus_accueil/_form.html.twig')}}


    {{ include('admin_contenus_accueil/_delete_form.html.twig') }}
{% endblock %}
