{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau Contenus Accueil{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary"href="{{ path('admin_contenus_accueil_index') }}">Retour</a>

    <h1 class="mt-3">Créer un nouveau Contenus pour l'accueil</h1>

    {{ include('admin_contenus_accueil/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script>

        window.onload = function(){
        let btn = document.querySelector('.add_item_link');
        console.log(btn);
        btn.addEventListener("click", (e)=> addFormToCollection(e));
        const addPartFormDeleteLink = (item)=>{
        const removeFormButton = document.createElement('button')
        removeFormButton.innerText = 'Supprimer ce contenus'
        item.append(removeFormButton);
        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault()
            item.remove();
        });
        }
        const addFormToCollection = (e) =>{
            console.log("addFormToCollection=>",e);
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                const item = document.createElement('li');
                item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );
                collectionHolder.appendChild(item);
                collectionHolder.dataset.index++;
                addPartFormDeleteLink(item);
            };
            const contenus = document.querySelector('ul.contenus').querySelectorAll('li');
            contenus.forEach((part)=> {
                addPartFormDeleteLink(part)
            });
        };


        

    </script>

{% endblock %}
