{% extends 'base.html.twig' %}

{% block title %}
    Edit Faq
{% endblock %}

{% block body %}
    <h1>
        Edit Faq
    </h1>

    {{ include('faq/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profile') }}">
        back to list
    </a>

    {{ include('faq/_delete.html.twig') }}
{% endblock %}
