{% extends 'base.html.twig' %}

{% block title %}
    Modifier la question
{% endblock %}

{% block body %}
<div class="container">
<a class="btn-sm btn-secondary mb-4" href="{{ path('profile') }}">
    Retour
        
</a>

    <h1>
        Modifier la question
    </h1>
   

    {{ include('faq/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('faq/_delete.html.twig') }}

</div>

{% endblock %}
