{% extends 'base.html.twig' %}

{% block title %}Poser une question sur le Japon{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>POSER UNE QUESTION</h1>
        {{ include('faq/_form.html.twig') }}
</div>
<div style="height:100px"></div>
{% endblock %}