{% extends 'base-admin.html.twig' %}

{% block title %}New BudgetEtArgentAuJapon{% endblock %}

{% block body %}
    <h1>Create new BudgetEtArgentAuJapon</h1>

    {{ include('admin_budget_et_argent_au_japon/_form.html.twig') }}

    <a href="{{ path('admin_budget_et_argent_au_japon_index') }}">back to list</a>
{% endblock %}
