{% extends 'base-admin.html.twig' %}

{% block title %}modification de categorie{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_category_index') }}">Retour</a>

    <h1 class="mt-3">Modifier une catégorie</h1>

    {{ include('admin_category/_form.html.twig') }}


    {{ include('admin_category/_delete_form.html.twig') }}
{% endblock %}
