{% extends 'base-admin.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_category_index') }}">Retour</a>

    <h1 class="mt-3">Création d'une nouvelle catégorie</h1>

    {{ include('admin_category/_form.html.twig') }}

{% endblock %}
