{% extends 'base-admin.html.twig' %}

{% block title %}Edit SocieteEtCulture{% endblock %}

{% block body %}
    <h1>Edit SocieteEtCulture</h1>

    {{ include('admin_societe_et_culture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_societe_et_culture_index') }}">back to list</a>

    {{ include('admin_societe_et_culture/_delete_form.html.twig') }}
{% endblock %}
