{% extends 'base-admin.html.twig' %}

{% block title %}Edit Kanto{% endblock %}

{% block body %}
    <h1>Edit Kanto</h1>

    {{ include('admin_kanto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_kanto_index') }}">back to list</a>

    {{ include('admin_kanto/_delete_form.html.twig') }}
{% endblock %}
