{% extends 'base-admin.html.twig' %}

{% block title %}New Kanto{% endblock %}

{% block body %}
    <h1>Create new Kanto</h1>

    {{ include('admin_kanto/_form.html.twig') }}

    <a href="{{ path('admin_kanto_index') }}">back to list</a>
{% endblock %}
