{% extends 'base-admin.html.twig' %}


{% block title %}Nouveau memebre{% endblock %}

{% block body %}
    <a class="btn-sm btn-secondary" href="{{ path('admin_user_index') }}">Retour</a>

    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

{% endblock %}
