<form method="post" action="{{ path('admin_cuisine_japonaise_delete', {'id': cuisine_japonaise.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cuisine_japonaise.id) }}">
    <button class="btn">Delete</button>
</form>
