{% extends 'base-admin.html.twig' %}

{% block title %}New Contenus{% endblock %}

{% block body %}
    <h1>Create new Contenus</h1>

    {{ include('admin_contenus/_form.html.twig') }}

    <a href="{{ path('admin_contenus_index') }}">back to list</a>
{% endblock %}
