{% extends 'base-admin.html.twig' %}

{% block title %}New FeteJaponaise{% endblock %}

{% block body %}
    <h1>Create new FeteJaponaise</h1>

    {{ include('admin_fete_japonaise/_form.html.twig') }}

    <a href="{{ path('admin_fete_japonaise_index') }}">back to list</a>
{% endblock %}
