{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>
        {{ home.contenusAccueil.titre }}
    </h1>
    <h3>
        {{ home.contenusAccueil.sousTitre }}
    </h3>
    <p>
        {{ home.contenusAccueil.description|raw }}
    </p>
{% endblock %}
